/* Frame 60 */

@import url("../../index.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

p {
  margin: 0;
}

.frame-60 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 37.5rem;
  height: 32.188rem;
  padding: 50px;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.section-headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.title-and-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 476px;
  height: 100%;
  box-sizing: border-box;
}
.sign-up-to {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.75rem;
  line-height: 121%;
  font-family: SF Pro, sans-serif;
  font-weight: 500;
  letter-spacing: 0.11px;
}

.spacer-horizontal {
  width: 24px;
  height: fit-content;
}

.spacer-vertical {
  width: fit-content;
  height: 24px;
}

.forms-registration-email-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.text-field-outlined {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
  box-sizing: border-box;
}
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 31.25rem;
  height: 3.5rem;
  padding: 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  box-sizing: border-box;
}
.label-container {
  position: absolute;
  top: 0px;
  left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: 2px;
  padding: 0px 4px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.label {
    padding: 0rem 0.5rem;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 4px;
    width: 79px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 133%;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.value {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.spacer-vertical-1 {
  width: fit-content;
  height: 16px;
}

.text-field-outlined-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
  box-sizing: border-box;
}
.input-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 31.25rem;
  height: 3.5rem;
  padding: 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  box-sizing: border-box;
}
.label-container-1 {
  position: absolute;
  top: 0px;
  left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: 2px;
  padding: 0px 4px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.label-2 {
    padding: 0rem 0.5rem;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 4px;
    /* width: 55px; */
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 133%;
    font-family: SF Pro, sans-serif;
    font-weight: 400;
}

.content-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.value-1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.spacer-vertical-2 {
  width: fit-content;
  height: 16px;
}

.frame-59 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.checkbox {
  width: 42px;
  height: 100%;
}

.agree-to-terms-and-condi {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 131%;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  letter-spacing: -0.05px;
}

.spacer-vertical-3 {
  width: fit-content;
  height: 16px;
}

.button-contained {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(199, 162, 195, 1);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.button-contained:hover{
  background-color: rgb(177, 142, 179);
}

.base:hover{
  background-color: rgb(177, 142, 179);
}

.base {
  background-color: rgba(199, 162, 195, 0);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 100%;
  padding: 8px 22px;
  box-sizing: border-box;
}
.button {
    background-color: none;
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  line-height: 129%;
  font-family: SF Pro, sans-serif;
  font-weight: 500;
  letter-spacing: -0.07px;
}

.frame-53 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  box-sizing: border-box;
}
.or {
  color: rgba(52, 70, 72, 1);
  font-size: 17px;
  line-height: 129%;
  font-family: SF Pro, sans-serif;
  font-weight: 500;
  letter-spacing: -0.07px;
}

.already-have-an-account {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 131%;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  letter-spacing: -0.05px;
}

.span{
    color: #1976D2;
    text-decoration: underline;
}

.clip-contents{
    border: none;
    font-family: SF Pro, sans-serif;
    font-size: 1rem;
}

input:focus{
    outline:none;
}

.checkbox{
    margin-right: 0.5rem;
    width: 1.125rem;
    height: 1.125rem;
}

@media only screen and (max-width: 768px){
  .frame-60{
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 480px){
  .frame-60{
    transform: scale(0.5);
  }
}
